<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/content.component">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Login/Logout</a>
        <a class="nav-item nav-link" routerLink="/contato.component">Contact</a>
        <a class="nav-item nav-link" routerLink="/contato.component">About</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron" >
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<app-footer></app-footer>